/*****CULTURE SHOCKS*****/

/*****BASE STYLES*****/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #67BBE1;
  color: white;
}

/***GRID***/
.full-width {
  width: 1200px;
  /*****max-width: 1200px;*****/
  margin: auto;
}

.third-width {
  float:left;
  width: 400px;
 /*****display: inline-block;*****/
 /*****margin-left: 50px;*****/
}

/*****HEADER*****/
header {
  height: 350px;
  /*****text-align: center;*****/
}

header img {
  margin: 0 0 0 0;
  padding: 50px 0 0 350px;
  width: 500px;
  /*****align: center; DOESN'T EXIST*****/
}

header h1 {
  font-size: 36px;
  font-style: italic;
  line-height: 150%;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  /*****width: 1200px;*****/
}

/*****ABOUT*****/
main h2 {
  font-size: 36px;
  margin: 15px 0 5px 0;
  padding: 0 0 0 0;
}

main p {
  margin: 5px 0 25px 0;
}

#left img, #center img, #right img {
  border-radius: 50%;
  height: 320px;
  width: 320px;
  padding: 10px 10px 10px 10px;
}

.third-width p {
  width: 350px;
}

h3 {
  font-size: 50px;
}

/*****.students {
 height: 400px;
 width: 400px;
}*****/

/*****FOOTER*****/
