/*****CULTURE SHOCKS*****/

/*****BASE STYLES*****/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #67BBE1;
  color: white;
}

/***GRID***/
.full-width {
  width: 1200px;
  margin: auto;
}

.third-width {
  float:left;
  width: 400px;
}

/*****HEADER*****/
header {
  height: 350px;
}

header img {
  margin: 0 0 0 0;
  padding: 50px 0 0 350px;
  width: 500px;
}

header h1 {
  font-size: 36px;
  font-style: italic;
  line-height: 150%;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
}

/*****MAIN*****/
main h2 {
  font-size: 36px;
  margin: 15px 0 5px 0;
  padding: 0 0 0 0;
}

main p {
  margin: 5px 0 25px 0;
}

/*****ABOUT*****/
#about {
  height: 240px;
}

/*****DATA*****/
#data {
  height:1200px;
}

#data h3 {
  font-size: 24px;
  margin-top: 0px;
  padding: 10px 0 15px 0;
}

#data img {
  padding-bottom: 50px;
}

#data-box {
  height: 360px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

#data h4 {
  font-size: 100px;
  margin: 20px 0 20px 0;
  text-align:center;
}

#data p {
  font-size: 50px;
  padding-bottom: 80px;
  text-align: center;
}

/*****CONNECT*****/
#description p {
  font-size: 26px;
  padding: 60px 20px 20px 20px;
  text-align: center;
}

#left h5, #center h5, #right h5 {
  font-size: 24px;
  margin: 5px 0 15px 0;
  padding-left: 140px;
}

.third-width p {
  padding-left: 25px;
  text-align: justify;
  width: 350px;
}

#left img, #center img, #right img {
  border-radius: 50%;
  height: 320px;
  width: 320px;
  margin-left: 45px;
  padding: 10px 0px 10px 0px;
}

/*****FOOTER*****/
#footer {
  clear: both;
  height: 60px;
  width:100%;
}

#footer p {
  border-top: 3px solid white;
  font-size: 18px;
  padding: 20px 0 15px 0px;
  text-align: center;
}
