/*****CULTURE SHOCKS*****/

/*****BASE STYLES*****/
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #67BBE1;
  color: white;
}

/***GRID***/
.full-width {
  width: 1200px;
  /*****max-width: 1200px;*****/
  margin: auto;
}

.third-width {
  float:left;
  width: 400px;
 /*****display: inline-block;*****/
 /*****margin-left: 50px;*****/
}

/*****HEADER*****/
header {
  height: 350px;
  /*****text-align: center;*****/
}

header img {
  margin: 0 0 0 0;
  padding: 50px 0 0 350px;
  width: 500px;
  /*****align: center; DOESN'T EXIST*****/
}

header h1 {
  font-size: 36px;
  font-style: italic;
  line-height: 150%;
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  /*****width: 1200px;*****/
}

/*****ABOUT*****/
about {
  height: 800px;
}

#about h3 {
  font-size: 24px;
}

main h2 {
  font-size: 36px;
  margin: 15px 0 5px 0;
  padding: 0 0 0 0;
}

main p {
  margin: 5px 0 25px 0;
}

#left img, #center img, #right img {
  border-radius: 50%;
  height: 320px;
  width: 320px;
  margin-left: 45px;
  padding: 10px 0px 10px 0px;
}

.third-width p {
  padding-left: 25px;
  text-align: justify;
  width: 350px;
}

#left h4, #center h4, #right h4 {
  font-size: 24px;
  margin: 5px 0 15px 0;
  padding-left: 140px;
}

/*****DATA*****/
#data {
  height: 600px;
}

#data h4 {
  font-size: 36px;
  margin: 20px 0 20px 0;
  padding-top: 100px;
}

#data h5 {
  font-size: 100px;
  margin: 20px 0 20px 0;
  text-align:center;
}

#data p {
  font-size: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/*****FOOTER*****/
#footer {
  clear: both;
  height: 60px;
  /*****float:left;
  height: 100px;*****/
  width:100%;
}

#footer p {
  font-size: 18px;
  padding: 20px 0 15px 0px;
  text-align: center;
}
